.login{
    padding-top: 90px;
    background-color:whitesmoke;
    padding-bottom: 300px;
}

.titel{
    text-align: center;
}

.kartu{
    margin-bottom: 20px;
}

.header{
    background-color: black;
    padding-left: 20px;
}